@import "../../../assets/styles/mixin";
@import "../../../assets/styles/variables";

$prefix: cards-game;

.#{$prefix} {
    height: $vh-100;
    width: $vw-100;

    .content {
        display: flex;
        flex-direction: column;

        .header, .footer {
            align-items: center;
            color: var(--purple-light, $purple-light);
            display: flex;
            font-size: $pix-16;
            font-weight: bold;
            height: $pix-100;
            justify-content: center;
            text-transform: uppercase;

            @include breakpoint($res-xl, min) {
                font-size: $pix-48;
            }
        }

        .section {
            align-items: center;
            display: flex;
            flex-direction: column;            
            gap: $pix-20;

            @include breakpoint($res-xl, min) {
                align-items: center;
                display: grid;
                flex: 1;
                gap: $pix-50;
                justify-items: center;
                grid-template-columns: repeat(auto-fit, minmax($pix-150, 1fr));
                padding: 0 $pix-300;
            }
        }

        @include breakpoint($res-xl, min) {
            height: $per-100;
            padding: 0 $pix-100;
        }
    }
}