<template>
  <div :class="PREFIX">
    <div class="content">
      <header class="header">
        <span>Juego de memoria de cartas</span>
      </header>
      <section class="section">
        <template v-for="card of cards" :key="card.id">
          <card-memory :ide="card.id" :type="card.type" :number="card.number" :dotted="card.dotted" :visited="card.visited" @click="selectCard(card)"></card-memory>
        </template>
      </section>
      <footer class="footer">
        <span v-if="isWinner">¡Felicidades! Ganaste</span>
      </footer>
    </div>    
  </div>
</template>

<script src="./cards-game.ts" lang="ts"/>
<style src="./cards-game.scss" lang="scss" scoped/>
