<template>
  <v-card>
    <template #content>
      <div :class="PREFIX" v-bind="$attrs">
        <div v-if="!dotted" class="content">
          <div class="card-front">
            <div class="card-description">
              <div class="card-number"
                :class="{ 'color-red': +type === +TypeCardMemoryEnum.HEARTS || +type === +TypeCardMemoryEnum.DIAMONDS }">
                <span>{{ number }}</span>
              </div>
              <div class="card-symbol">
                <div class="image">
                  <div :class="{
        'image-club': +type === +TypeCardMemoryEnum.CLUBS,
        'image-spade': +type === +TypeCardMemoryEnum.SPADES,
        'image-heart': +type === +TypeCardMemoryEnum.HEARTS,
        'image-diamond': +type === +TypeCardMemoryEnum.DIAMONDS
      }">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-image">
              <div class="image">
                <div :class="{
        'image-club': +type === +TypeCardMemoryEnum.CLUBS,
        'image-spade': +type === +TypeCardMemoryEnum.SPADES,
        'image-heart': +type === +TypeCardMemoryEnum.HEARTS,
        'image-diamond': +type === +TypeCardMemoryEnum.DIAMONDS
      }">
                </div>
              </div>
            </div>
          </div>
          <div class="card-back">
            <div class="image">
              <div class="img-back"></div>
            </div>            
          </div>
        </div>
        <div v-if="dotted" class="dotted"></div>
      </div>
    </template>
  </v-card>
</template>

<script src="./card-memory.ts" lang="ts" />
<style src="./card-memory.scss" lang="scss" scoped />
