@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/variables";

$prefix: card-memory;

$card-memory-content-border-radius: $pix-10;
$card-memory-success-border-radius: $card-memory-content-border-radius;

.#{$prefix} {
    height: $per-100;
    position: relative;
    perspective: $pix-1000;

    .content {
        border-radius: $card-memory-content-border-radius;
        cursor: pointer;
        height: $pix-250;
        transition: transform 0.2s;
        transform-style: preserve-3d;
        position: absolute;
        width: $per-100;

        .card-front,
        .card-back {
            backface-visibility: hidden;
            border-radius: inherit;
            height: $per-100;
            position: absolute;
            width: $per-100;
        }

        .card-front {
            background-color: var(--white, $white);
            display: flex;
            flex-direction: column;
            transform: rotateY(180deg);

            .card-description {
                display: flex;
                flex-direction: column;
                height: $pix-100;
                margin: 0 0.5em;
                padding: 0 $pix-5;

                .card-number {
                    flex: 1;
                    font-size: $pix-48;
                    line-height: $pix-48;
                    color: var(--black, $black);

                    &.color-red {
                        color: var(--red-regular, $red-regular);
                    }                  
                }

                .card-symbol {
                    flex: 1;

                    .image {
                        height: $pix-50;
                        width: $pix-50;

                        @extend %image-card;
                    }
                }
            }

            .card-image {
                align-items: center;
                display: flex;
                flex: 1;
                justify-content: center;

                .image {
                    height: $pix-100;
                    width: $pix-100;

                    @extend %image-card;
                }
            }
        }

        .card-back {
            overflow: hidden;

            .image {
                width: $pix-150;
                height: $pix-250;

                .img-back {
                    background-image: url("../../../../assets/resources/images/card-back.png");
                    background-size: contain;
                    background-repeat: round;
                    height: $per-100;
                    width: $per-100;
                }
            }
        }
    }

    .dotted {
        border-radius: $card-memory-success-border-radius;
        border-style: dotted;
        height: $per-100;
        width: $per-100;
    }

    &:hover {
        .content {
            transform: rotateY(180deg);
            box-shadow: 0 $pix-17 $pix-50 0 rgba(11, 20, 26, .19),
                0 $pix-12 $pix-15 0 rgba(11, 20, 26, .24);
        }
    }
}


%image-card {

    .image-club,
    .image-spade,
    .image-heart,
    .image-diamond {
        background-size: contain;
        background-repeat: no-repeat;
        height: $per-100;
        width: $per-100;
    }

    .image-club {
        background-image: url("../../../../assets/resources/images/club-symbol.png");
    }

    .image-spade {
        background-image: url("../../../../assets/resources/images/spade-symbol.png");
    }

    .image-heart {
        background-image: url("../../../../assets/resources/images/heart-symbol.png");
    }

    .image-diamond {
        background-image: url("../../../../assets/resources/images/diamond-symbol.png");
    }
}