$black: #000;
$gray-light: #F4F6FC;
$gray-regular: #CCC;
$purple-light: #9747FF;
$red-regular: #D80001;
$white: #fff;


$pix-1: 1px;
$pix-5: 5px;
$pix-10: 10px;
$pix-11: 11px;
$pix-12: 12px;
$pix-13: 13px;
$pix-14: 14px;
$pix-15: 15px;
$pix-16: 16px;
$pix-17: 17px;
$pix-18: 18px;
$pix-19: 19px;
$pix-20: 20px;
$pix-28: 28px;
$pix-48: 48px;
$pix-50: 50px;
$pix-100: 100px;
$pix-150: 150px;
$pix-200: 200px;
$pix-250: 250px;
$pix-300: 300px;
$pix-1000: 1000px;


$per-35: 35%;
$per-40: 40%;
$per-50: 50%;
$per-70: 70%;
$per-80: 80%;
$per-90: 90%;
$per-100: 100%;

$vh-100: 100vh;
$vw-100: 100vw;


$res-xl: 1920px;
$res-md: 1023px;

$weight-200: 200;
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-800: 800;
$weight-900: 900;

$weight-regular: normal;
$weight-bold: bold;