@import "../variables";
@import "../mixin";

.sb-show-main.sb-main-padded {
    padding: 0 !important;
}

$prefijo: erp-storybook;
$black: #000;

.#{$prefijo}-contenedor {
    background-color: #fff;
    width: $per-100;
    height: $per-100;
    padding: $pix-20;

    .#{$prefijo}-titulo {
        color: $black;
        padding: $pix-10 0;
        font-size: $pix-28;
        //font-family: $font;
        font-weight: $weight-600;
    }

    .#{$prefijo}-texto{
        color: $black;
        font-size: $pix-14;
        //font-family: $font;
    }

    .#{$prefijo}-cuerpo {
        padding: $pix-10 0;        

        .#{$prefijo}-resumen {
            text-align: justify;
        }

        .#{$prefijo}-propiedades {
            margin-left: $pix-20;
            list-style-type: circle !important;
            list-style-position: outside;

            li {
                list-style-type: circle !important;
            }
        }

        .main-component {
            align-items: center;
            display: flex;
            justify-content: center;
            width: $per-100;

            @include breakpoint(calc(#{$res-md} + #{$pix-1}), min) {
                width: $per-70;
            }
        }

        .components {
            width: $per-100;

            .examples {
                align-items: center;
                display: flex;
                flex-direction: column; 
                justify-content: center;              
                width: $per-100;
                border: 2px dashed #7B61FF;
                padding: 0.5em;
                gap: 20px;

                .item {
                    margin: 1em 0;
                    @include breakpoint(calc(#{$res-md} + #{$pix-1}), min) {
                        
                    }
                }

                @include breakpoint(calc(#{$res-md} + #{$pix-1}), min) {
                    display: flex;
                    flex-direction: row;  
                }
            }

            @include breakpoint(calc(#{$res-md} + #{$pix-1}), min) {
                width: $per-50;
            }
        }
    }

    .#{$prefijo}-historial {
        display: flex;
        flex-direction: column;
    }
}