@import "../../../assets/styles/variables";

$prefix: v-card;

$v-card-border-radius: $pix-10;

.#{$prefix} {
    border-radius: $v-card-border-radius;
    height: $pix-250;
    width: $pix-150;
    
    &.box-shadow {
        box-shadow: 0 $pix-17 $pix-50 0 rgba(11, 20, 26, .19),
                0 $pix-12 $pix-15 0 rgba(11, 20, 26, .24);
    }
}
